<% include partials/header %>

<div class="ui main text container segment">
    <div class="ui huge header" id="headerUI">Add a New Blog</div>
    <form action="/blogs" method="POST" class="ui form">
        <div class="field">
            <input type="text" name="blog[title]" placeholder="title">
        </div>
        <div class="field">
            <input type="text" name="blog[image]" placeholder="image url">
        </div>
        <div class="field">
            <textarea name="blog[body]" placeholder="body"></textarea>
        </div>
        <button type-"submit" class="ui blue basic button">Submit!</button>
    </form>
    <textarea></textarea>
</div>

<% include partials/footer %>